*{
    font-family: 'Poppins',sans-serif;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #76b852;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
    height: fit-content;
    width: fit-content;
    min-width: 20em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 2.4em;
}
a{
    position: relative;
    text-decoration: none;
    color: #f1f1f1;
    font-size: clamp(1.4rem, 1.5vw, 2rem);
    letter-spacing: 0.05em;
    padding: 0 .7em;
}

a:after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover{
    color: #ffffff;
}

a:hover:after{
    width: 100%;
}